/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#post-content {
    text-align: justify;
}

.btn {
    margin-bottom: 6px!important;
}

.full-width {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 2px;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.scrolling-background {
    height: 500px;
    width: auto;
    display: block;
}

.vertical-align {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.homepage {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.btn-lg {
    white-space: normal;
    text-align: justify;
}
