{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel" style="background: none!important">
        <div class="homepage owl-carousel">
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item scrolling-background img-responsive" style="background-image: url({{.image}});">
                <div class="dark-mask"></div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="vertical-align">{{ .title }}</h1>
                        {{ .description | safeHTML }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <!-- /.project owl-slider -->
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
